* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#main {
  width: 100%;
  height: 100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.element {
  margin: 0 0 10px 20px;
  position: relative;
  padding-right: 50px;
}

.buttons {
  position: absolute;
  top: 0;
  right: 0;
}
.textarea {
  border: none;
  background: none;
}

::-webkit-scrollbar {
  visibility: hidden;
}
